@charset "uft-8";

body {
    background-color: var(--bg-main);
    font-family: 'samsungsharp';
}

section, header {
    position: relative;
    box-sizing: border-box;
    padding-top: 13vh;
    width: 100%; height: 100vh;
    border-bottom: var(--border);
}

.box_wrap  a {
    display: block;
    width: 100%; height: 100%;
}
/* emoji */
.emoji {
    position: fixed;
    font-size: 5rem;
    will-change: transform;
    z-index: 9999999999;
}

/* modal */
.modal {
    border: var(--border);
    position: absolute;
    bottom: 150px; left: 70px;
    width: 453px;
    height: 412px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
    transition: box-shadow .3s;
    opacity: 0;
    transform: translateX(-15rem);
}
.modal .txtbox {
    letter-spacing: 0.046rem;
}
.modal .txtbox .txttit {
    padding: 0 25px;
    display: grid;
    align-items: center;
    height: 68.666666px;
    border: var(--border);
}
.modal .txtbox h5 {
    background-color: #EEF2F1;
    letter-spacing: 0.1rem;
}
.modal .txtbox h6 {
    font-size: 18px;
    color: #040a2b;
}

.modal .close {
    cursor: pointer;
    position: absolute;
    right: 0; top: 0;
    width: 86px; height: 68.666666px;
    background-color: #000;
    box-sizing: border-box;
}
.modal .close::before,
.modal .close::after {
    content: '';
    display: block;
    width: 4px; height: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: center;
}
.modal .close::after {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal:hover {
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.116);
}
/* gnb */
nav {
    z-index: 9999;
    box-sizing: border-box;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 13vh;
    opacity: 0;
    transform: translateY(-2rem);
}
nav .logo img {
    width: 150px;
}
nav .gnb {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-menu);
}
.gnb a {
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
    transition: .3s;
}
nav .btn {
    display: none;
}
nav.color1 {background-color: #EEEDE9;}
nav.color2 {background-color: #91A38A;}
nav.color3 {background-color: #91A38A;}
nav.color4 {background-color: #91A38A;}

/* intro */
.intro .txtbox {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 30px;
    box-sizing: border-box;
}
.intro h2 {
    margin-top: 40px;
    margin-left: auto;
    line-height: .95;
    letter-spacing: -2.3rem;
}
.intro span {
    display: block;
    opacity: 0;
    transform: translateY(10rem);
}
.intro h2 span:first-child {
    color: #C5AECF;
}
.intro h2 span:nth-child(2) {
    text-align: right;
    color:  #B9BD2B;
}
.intro h2 span:last-child {
    color: #695650;
}
.intro .txt {
    letter-spacing: -0.05rem;
    line-height: 1.3;
    opacity: 0;
    transform: translateY(1rem);
}

/* skill */
.skill {
    display: flex;
    flex-direction: row;
}
.skill .box:first-child {
    border-right:var(--border);
}
.skill .box {
    border-top: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 150px 120px;
    width: 50%;
    overflow: hidden;
}
.skill h4 {
    line-height: 1.3;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    transition: 2s;
}
.skill h4.move {
    transform: translateY(0);
    opacity: 1;
}

.skill h4.bg1 {background-color: #EDE7D7;}
.skill h4.bg2 {background-color: #F6D8B4;}
.skill h4.bg3 {background-color: #F9E29A;}
.skill h4.bg4 {background-color: #FCC662;}

.skill h4:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.skill .arrow {
    width: 80px; height: 80px;
    position: absolute;
    right: 0; bottom: 0;
    text-indent: -9999px;
    background: url(../icon/arrow.svg) no-repeat 100% / cover;
}


/* work */
.fp-next {
    right: 0;
}
.fp-prev {
    left: 0;
}
.fp-arrow.fp-next {
    width: 86px;
    height: 86px;
    border: none;
    top: 33vh ;
    background:#000 url(../icon/right.svg)no-repeat 50% / 60%;
    transition: .4s;
}
.fp-arrow.fp-next:hover {
    filter: invert(1);
    border: 1px solid #000;
}
.fp-arrow.fp-prev {
    display: none;
}
.submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 80px;
    height: 16vh;
    background-color: #fff;
    border-top: var(--border);
    border-bottom: var(--border);
}
.work .box_wrap {
    display: flex;
}
.work .box {
    cursor: pointer;
    text-align: center;
    width: 33.3333%; height: 71vh;
    border-right: var(--border);
    box-sizing: border-box;
    padding: 80px;
    transition: .3s;
}
.work .box:hover {
    filter: brightness(.98);
}
.work span {
    display: block;
}

#work1 .slide1 .box:nth-child(1) {background-color: hsl(28, 18%, 99%)}
#work1 .slide1 .box:nth-child(2) {background-color: hsl(36, 100%, 99%)}
#work1 .slide1 .box:nth-child(3) {background-color: hsl(206, 27%, 98%);}
#work1 .slide2 .box:nth-child(1) {background-color: hsl(48, 100%, 99%);}
#work1 .slide2 .box:nth-child(2) {background-color: hsl(204, 100%, 99%);}
#work1 .slide2 .box:nth-child(3) {background-color: #fff;}
#work3 .box {background: linear-gradient(to right,  hsl(154, 74%, 98%),  hsl(277, 74%, 98%));}

.work .box:last-child {
    border: none;
}
.work .txtbox img {
    width: 50%;
    filter: contrast(.1);
}
.work .txttit {
    text-transform: lowercase;
    margin: 14px 0;
    line-height: 1.3;
}
.work .txt {
    font-size: 1.5rem;
    margin-bottom: 30px;
    letter-spacing: 0.066rem;
}
.work .txtbox .subtit {
    display: inline-block;
    position: relative;
    letter-spacing: 0.066rem;
    z-index: 0;
}
.work .txtbox .subtit::before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    inset: 0 0 0 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s ease;
}
.work .box:hover .subtit::before {
        transform: scaleX(1);
        transform-origin: bottom left;
}
.work .subtit.t_bg1::before {background-color: hsl(28, 18%, 93%);}
.work .subtit.t_bg2::before {background-color: hsl(36, 100%, 93%);}
.work .subtit.t_bg3::before {background-color: hsl(206, 27%, 92%);}
.work .subtit.t_bg4::before {background-color: hsl(48, 100%, 93%);}
.work .subtit.t_bg5::before {background-color: hsl(212, 100%, 93%);}
.work .subtit.t_bg6::before {background-color: hsl(28, 18%, 93%);}

.slide .imgbox {
    width: 100%;
    height: 55%;

    position: relative;
}
.slide .img {
    text-indent: -9999px;
    position: absolute;
    background: no-repeat 50% / cover;
    box-shadow: 9px 9px 20px rgba(128, 128, 128, 0.158);
}
.slide .img1 {
    top: 0; left: 50%;
    transform: translateX(-50%);
    width: 20.625vw;
    height: 11.510vw;
    
}
.slide .img2 {
    left: 0; bottom: 0;
    width: 4.167vw;
    height: 9.063vw;
    
}
.slide .img3 {
    right: 0; bottom: 0;
    width: 11.302vw;
    height: 7.604vw;
    
}

.slide1 .box1 .img1 {background-image: url(../images/parcono_pc.jpg);} 
.slide1 .box1 .img2 {background-image: url(../images/parcono_m.jpg);} 
.slide1 .box1 .img3 {background-image: url(../images/parcono_tb.jpg);} 

.slide1 .box2 .img1 {background-image: url(../images/vital_pc.jpg);} 
.slide1 .box2 .img2 {background-image: url(../images/vital_m.jpg);} 
.slide1 .box2 .img3 {background-image: url(../images/vital_tb.jpg);} 

.slide1 .box3 .img1 {background-image: url(../images/estee_pc.jpg);} 
.slide1 .box3 .img2 {background-image: url(../images/estee_m.jpg);} 
.slide1 .box3 .img3 {background-image: url(../images/estee_tb.jpg);} 







.slide2 .txtbox h5.subtit {
    font-weight: var(--weight-tit);
}
.slide2 .box ~ .box img {
    width: 70%;
}

#work3 .submenu {
    background: linear-gradient(to right, hsl(147, 82%, 100%),  hsl(250, 81%, 100%));
}
#work3 .box {
    width: 100%;
    display: flex;
    align-items: center;
}
#work3 .txtbox {
    width: 50%;
}
#work3 .img {
    width: 50%;
}
#work3 img {
    width: 100%;
    border-radius: 25px;
}

/* contact */
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact .box_wrap1 {
    width: 100%;
    height: 9vh; line-height: 9vh;
    display: flex;
    border-top: var(--border);
    border-bottom: var(--border);
}
.contact .box_wrap1 div {
    background-color:#F0EFEB;
    padding-left: 40px;
    width: 33.333%;
    border-right: var(--border);
}
.contact .box_wrap1 div:last-child {
    border-right: none;
}

.contact .box_wrap2 {
    width: 42.5%;
    display: flex;
    flex-direction: column;
    border-right: var(--border);
}
.contact .box_wrap2 .box1 {
    position: relative;
    background-color: #91A38A;
    color: #fff;
}
.contact .box_wrap2 .box1:hover img {
    transform: rotate(15deg) scale(1);
    transform-origin: center;
}
.contact .box_wrap2 img {
    width: 60px;
    position: absolute;
    bottom: 20%; right: 17%;
    transform: rotate(0) scale(.9);
    transform-origin: center;
    transition: .3s;
}
.contact .box_wrap2 > div {
    height: calc(78vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border);
}
.contact .box_wrap2 > div:last-child {
    border-bottom: none;
}
.contact .box_wrap2 .box2 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.contact .box_wrap2 .txtbox {
    display: flex;
    justify-content: space-between;
    width: 65%; line-height: 2;
}
.contact .box_wrap2 p:last-child {
    position: relative;
}
.contact .box_wrap3 {
    background-color: #fff;
    width: 57.5%;
}
.contact .box_wrap3 .box1 {
    background-color: #D4CAC1;
    color: #fff;
    padding-left: 5vw;
    height: 14.5vh; line-height: 14.5vh;
    border-bottom: var(--border);
}
.contact .box_wrap3 .box2 {
    height: 63.5vh;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
}
.contact .box_wrap3 .txtbox {
    width: 65%;
    margin: 0 auto;
}
.contact .box_wrap3 p:first-child {
    margin-bottom: 3%;
    position: relative;
}
.fp-watermark {
    display: none;
}