
/* image */
.tablet img {
    background-image: url(../images/moc_parconoT.png);
    background-size: 100%;
    background-position-y: 0;
    border-radius: 25px;
}
.mobile img {
    background-image: url(../images/moc_parconoM.png);
    background-size: 90%;
    background-position-y: 0;
    border-radius: 45px;
}

/* design */

/* colorchip */
.color .main1 {background-color: #353e4b; color: #fff; }
.color .main2 {background-color: #64543f; color: #fff; }
.color .sub1 {background-color: #FAF9F5; border: 1px solid hsla(0, 0%, 0%, 0.349);}
.color .sub2 {background-color: #F6FAFF; border: 1px solid hsla(0, 0%, 0%, 0.349); border-top: none;}
.color .point {background-color: #CABE89; }

/* font */
.leferi {font-family: 'leferi'; font-weight: 700;}
.pre700 {font-weight: 700;}
.pre500 {font-weight: 500;}
.pre400 {font-weight: 400;}