@charset "utf-8";

:root {
    font-size: 8px;
}

#about {
    display: flex;
    flex-flow: wrap row;
}
#about > div {
    width: 50%;
}
#about > div:nth-of-type(3) {
    order: 4;
}
#about .txtbox_inner {
    width: 70%;
}
#about p {
    margin-bottom: 6vw;
}
#recruit {
    background: url(../images/recruit_pc.jpg) no-repeat 50% / cover;
}
#recruit p span {
    display: inline;
}
#recruit p {
    margin: 3vw auto 6vw;
}
#contact p span {display: inline;}

@media screen and (min-width: 820px){
    #menu {
        width: 95%;
    }
    #menu > div {
        width: 22.156vw;
        height: 31.167vw;
        margin-bottom: 0;
    }
    #product .list {
        width: 75%;
    }
    #product .list li:nth-child(4) ~ li {
        display: block;
    }
    #product .product_wrapper {
        width: 95%; height: 44vw;
    }
    #product .product li {
        width: 23.5%; height: 21vw;
        margin-right: 2%;
        margin-bottom: 2vw;
    }
    #product .product li:nth-child(2n+2) {
        margin-right: 2%;
    }
    #product .product li:nth-child(4n+4) {
        margin-right: 0;
    }

    #gallery figure figcaption {
        max-height: 240px;
        box-sizing: border-box;
        padding: 2.385vw 2.897vw;
        background-color: #fff;
    }
    #contact table {
        margin: 0 auto;
        width: 80%;
    }
    #contact tr {
        height: 71px; line-height: 71px;
        border-top: var(--border-tr);
        flex-flow: row;
        padding: 0; margin: 0;
    }
    #contact th {width: 30%; }
    #contact tr:nth-child(2) th {width: 30%;}
    #contact table label {
        height: 100%;
        text-align: center;
        background-color: var(--label-bg);
    }
    #contact td {
        display: flex;
        align-items: center;
    }
    #contact td {width: 70%; padding-left: 10px; text-align: left;}
    #contact input, #contact textarea {height: 65%; margin: 0;}
    #contact tr:nth-child(1) input {width: 50%;}
    #contact tr:nth-child(2) input {width: 25%;}

    #contact tr:nth-child(4) {height: 250px; }

}
@media screen and (min-width:1043px) {
    #recruit p span {
        display: block;
    }
}