:root {
    font-size: 10px;
}
nav {padding: 0 100px; border-bottom: 1px solid rgba(255, 255, 255, 0.4); height: 80px;}
nav .gnb_m {display: none;}
nav .util {display: flex; width: 190px;}
nav .util li:first-child {margin-right: 26px;}
nav .gnb {
    overflow: visible;
    width: 680px;
    height: 100%;
    position: static;
    top: 0;
    left: 0; right: 0; margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    background-color: transparent;
    transition: none;
}
nav .gnb > li > a {
    color: #fff;
    padding: 0 30px;
    height: 80px; line-height: 80px;
    }
nav .gnb > li {position: relative;}
nav .gnb ul {display: none; background-color: #fff; position: absolute; left: 0; width: 100%;}
nav .gnb ul a {color: #000;}
header {height: 930px;}
#about > div {
    max-height: 750px;
}



#menu {
    width: 85%;
}
#menu > div {
    width: 20.156vw;
    height: 29.167vw;
    margin-bottom: 0;
    cursor: pointer;
}

#menu h4 {
    bottom: 26px; left: 36px;
}

#product .product_wrapper {
    width: 85%; height: 40vw; 
    max-width: 1400px;
    
}
#product .product li {
    width: 23.5%; height: 19vw; max-height: 320px;
}
#contact table {
    margin: 0 auto;
    width: 60%;
}
footer {
    height: 200px;
    padding: 50px 80px;
    text-align: left;
    flex-flow: row;
    justify-content: space-between;
}
footer .terms_wrap {
    width: 60%;
}
footer .btn {
    margin: 0;
}
footer .terms {
    display: flex;
    justify-content: flex-start;
}
footer .terms li:first-child a {
    padding-left: 0;
}
