@charset "uft-8";

:root {
    font-family: 'playfair';
    font-size: 10px;
    text-align: center;

    /* color */

    /* font size */
    --font-ban-tit:2.9rem;
    --font-tit:1.8rem;
    --font-sub-tit:1.6rem;
    --font-txt:1.3rem;
}

h3.tit {
    text-align: center;
    font-size: var(--font-tit);
    margin-bottom: 5rem;
}
h4.subtit, a.subtit {
    font-size: var(--font-sub-tit);
}
p.txt {
    font-size: var(--font-txt);
    line-height: 2.1rem;
}
section {
    margin-bottom: 10rem;
}
.img_inner {
    padding: 0 5.128vw;
}

.goTo {
    display: none;
}
/* nav */
nav {
    color: #fff;
    position: fixed;
    top: 0; left: 0;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    line-height: 55px;
}
nav .logo {
    width: 130px;
}
nav .logo img {
    width: 100%;
    vertical-align: middle;
}
/* toggle */
nav .toggle {
    cursor: pointer;
    width: 22px;
}
nav .toggle img {
    width: 100%;
    vertical-align: middle;
}
nav .gnb {
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 0; top: 55px;
    width: 100%; height: 0;
    overflow: hidden;
    transition: .3s;
}
nav .gnb.active {
    height: 440px;
    background-color: #fff;
}
nav .gnb.active a {
    color: #000;
}
nav .gnb a {
    display: block;
}

/* header */
header {
    width: 100%;
    height: 675px;
    position: relative;
}
header .slideWrapper {
    height: 100%;
}
header .slideItem {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
}
header .img1 {background-image: url(../images/main01_m.jpg);}
/*
header .img2 {background-image: url(../images/main02_m.jpg);}
header .img3 {background-image: url(../images/main03_m.jpg);}*/

header .txtbox {
    text-align: center;
    width: 95%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
header h2 {
    font-size: var(--font-ban-tit);
    margin-bottom: 1rem;
}
header h2 span {
    display: block;
}
header h3.tit {
    font-size: var(--font-sub-tit);
    margin-bottom: 0;
}
/* shop */
.shop h3 {
    margin-top: 5rem;
}
.shop ul {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop li {
    width: 48%;
}

.shop li img {
    width: 100%;
    height: 100%;
}
.shop h4 {
    padding: 2.564vw 0;
}
/* collection */
.collect ul {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 70.769vw);
    gap: 10px;
}
.collect li.img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.collect .img1 {background: url(../images/col01_m.jpg);}
.collect .img2 {background: url(../images/col02_m.jpg); grid-row: span 2; height: 100%;}
.collect .img3 {background: url(../images/col03_m.jpg);}
.collect .img4 {background: url(../images/col04_m.jpg); grid-row: span 2; height: 100%;}
.collect .img5 {background: url(../images/col05_m.jpg);}
.collect .img6 {background: url(../images/col06_m.jpg);}
/* video */
.video video {
    width: 100%;
}
/* rucruit */
.recruit {
    position: relative;
    color: #fff;
    width: 100%;
    height: 75.208vw;
    background: url(../images/recruit_m.jpg) no-repeat 50% / cover;
}
.recruit::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
}
.recruit .txtbox {
    width: 85%;
    max-width: 720px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.recruit a.btn {
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    width: 250px;
    height: 50px; line-height: 50px;
    margin-top: 40px;
}

#map {
    width: 100%;
    height: 75.208vw;
}
.location {
    position: relative;
}
.location .info {
    display: none;
}
footer {
    width: 100%;
    padding-bottom: 50px;
}
footer .btn {
    display: block;
    text-align: center;
    margin: 0 auto;    
    width: 250px;
    height: 70px; line-height: 70px;
    background-color: #000;
    color: #fff;
    
}